
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
   }

   header {
    background-color: #d13636;
    display: flex;
    color: #fff;
    justify-content: space-between;
    padding: 30px 100px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
   }

   .form-header{
    width: 40%;
    display: flex;
   }
   
   .form-header input{
    width: 80%;
    height: 40px;
    border-radius: 5px 0 0 5px;
   }

    .form-header button {
        padding: 11px;
        border-radius: 0 5px 5px 0;
    }


   .nav-header, .nav-header ul {
     display: flex;
     gap: 20px;
     list-style: none;
   }

   .lista-icone {
     display: none;
   }
   
   .div-card  {
       border: 1px solid #c72020;
       width: 300px;
       padding: 10px;
       /* text-align: center; */  
   }
   
   .div-card:hover{
       background-color: rgb(215, 250, 220);
       border-radius: 10px;
   }
   
   .div-img img {
       width: 250px;
       border: 1px;
   }
   
   .section-cards{
       display: flex;
       flex-wrap: wrap;
       gap: 20px;
       justify-content: center;
   }
   
   .div-img {
       height: 250px;
       width: 250px;
       display: flex;
       justify-content: center;
       align-items: center;
       right:-1;
       background-color: rgb(89, 185, 185);

   }
   
   .tag-p {
       top: 0;
       right: 0;
       position: absolute;
       background: #339e0f;
       width: fit-content;
       padding: 1px 3px;
       border-radius: 10px;
   }
   
   .img-topo { 
       position: relative;
   }
   
   h2 > a {
       font-size: 12px;
   }
   
   .div-titulo h1 {
       font-size: 20px;
   
   }
   
   .div-titulo button{
       background-color: rgb(32, 83, 128);
       color: black;width: 25px;
       height: 25px;
        border-radius: 50%;
       font-size: 20px;
       font-weight: 600;
   }
   
   .div-titulo {
       display: flex; 
       justify-content: space-between;
   }
   
   .div-texto {
       padding: 10px;
   }
   
   .span-valor {
       font-size: 26px;
       font-weight: 600;
   }
    /*(width<=998px) ou (max-width: 998px)tablet deitado*/
   @media screen and (width <=998px)  {
    header {
        flex-wrap: wrap;
    }

    .form-header{
        order: 2;
        width: 100%;
    }

    .form-header input {
        width: 120%;
    }

    .lista-icone {
        display: inline;
    }

    .lista-links li {
        display: none;
    }
   }

   