* {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 box-sizing: border-box;
 text-decoration: none;
 font-family: "Inter", sans-serif;
}

.div-card  {
    border: 1px solid #992e2e;
    width: 25%;
    padding: 10px;
    /* text-align: center; */  
}

.div-card:hover{
    background-color: rgb(215, 250, 220);
    border-radius: 10px;
}

.div-img img {
    width: 100px;
}

.section-cards{
    display: flex;
    gap: 20px;
}

.div-img {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    right:-1;
    background-color: rgb(225, 240, 240);
}

.tag-p {
    top: 0;
    right: 0;
    position: absolute;
    background: #339e0f;
    width: fit-content;
    padding: 1px 3px;
    border-radius: 10px;
}

.img-topo { 
    position: relative;
}

h2 > a {
    font-size: 12px;
}

.div-titulo h1 {
    font-size: 20px;

}

.div-titulo button{
    background-color: rgb(32, 83, 128);
    color: black;width: 25px;
    height: 25px;
     border-radius: 50%;
    font-size: 20px;
    font-weight: 600;
}

.div-titulo {
    display: flex;
    justify-content: space-between;
}

.div-texto{
    padding: 10px;
}

.span-valor {
    font-size: 26px;
    font-weight: 600;
}